---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet(channelId,description,publishedAt,title),statistics(likeCount,dislikeCount,viewCount),contentDetails(duration))&id=OyDSCKYz5sA&key=<API_KEY>&part=snippet,statistics,%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/0bMl7KI3mXU6yR0xlzAq3fBWppQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "OyDSCKYz5sA",
           "snippet": {
            "publishedAt": "2016-10-10T03:17:07.000Z",
            "channelId": "UCYE8GO8URXHt3eLkqeo3uSw",
            "title": "FULL: Second Presidential Debate - Donald Trump vs Hillary Clinton - Washington University 10/9/2016",
            "description": "WATCH: Final Presidential Debate - Donald Trump vs Hillary Clinton: https://www.youtube.com/watch?v=dGQGwIr47YY\n\nWATCH:  First Presidential Debate 2016 - Donald Trump vs Hillary Clinton - Hofstra University NY\n\nhttps://www.youtube.com/watch?v=ZEHPrYUcoi0\n\n----------------------------------------------------------------------------------------------\n\nWATCH LIVE: Second Presidential Debate - Donald Trump vs Hillary Clinton - St. Louis, MO (10/9/2016) - Donald Trump & Hillary Clinton 2nd [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&maxResults=100&order=relevance&pageToken=&part=snippet&videoId=OyDSCKYz5sA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/4H7S0XCpihoxLgV954oZADSWpio"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#commentThreadListResponse\",\n \"etag\": \"\\\"gMxXHe-zinKdE9lTnzKu8vjcmDI/4H7S0XCpihoxLgV954oZADSWpio\\\"\",\n
        \"nextPageToken\": \"Q2cwUTRhaTErL3ZnMEFJZ0FDZ0JFcElIQ0FBUTJOZllySVhQMEFJcWhBZmp1OEdUenNlMnVHR2x1SmZCNVl6MTRHS0hwNWFwbmU3cDltSy9uNEhOZ1lQQzIyTHl6djNEeFlQcW4yTEd5TnJRMU5DaTQyRHQ0K1BWL3J1STVtSHkrNks5NklLeHBXR1NqNmZyZ2JqMzJtT2o2SXY1Z3RtWjkyR1VpZnJYcXNQK3lXR0ZoTkh4MnQveHcyS0g2Znk4c00yam1tTDd0Y3kxam9paTFtQ0x0TFh5Nkk2bDAyS1h5K2FYbk1MQ3JtT3Q0ZEdaa2RUVHRtRHVvNWJVc2FUSDNXTzh6NExGN3BIZzBtS3lpWXlWazZ6dHoyQ2YvdXVrcTdiMDgyS1BrOG5RbUluZXYySDdrTkhQeTVyRWhXR2orcFRpZy9mdzhtT0grYXpyMmQraTBHQyt6OER6azRiNXRtTzQ4NGF0OU0rT3RXUHEwTkx1c[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&maxResults=100&order=relevance&pageToken=Q2cwUTRhaTErL3ZnMEFJZ0FDZ0JFcElIQ0FBUTJOZllySVhQMEFJcWhBZmp1OEdUenNlMnVHR2x1SmZCNVl6MTRHS0hwNWFwbmU3cDltSy9uNEhOZ1lQQzIyTHl6djNEeFlQcW4yTEd5TnJRMU5DaTQyRHQ0K1BWL3J1STVtSHkrNks5NklLeHBXR1NqNmZyZ2JqMzJtT2o2SXY1Z3RtWjkyR1VpZnJYcXNQK3lXR0ZoTkh4MnQveHcyS0g2Znk4c00yam1tTDd0Y3kxam9paTFtQ0x0TFh5Nkk2bDAyS1h5K2FYbk1MQ3JtT3Q0ZEdaa2RUVHRtRHVvNWJVc2FUSDNXTzh6NExGN3BI[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&maxResults=100&order=relevance&pageToken=Q3J3Q0NxTUNFcUFDQ0dRU213SUl5QkVRWkJnSElwRUN3WGFUdDFXNzcyZmIrUHk4VDg5a244MUdUZExOUGlmejY4NmpzWjdrNlNiWmIwMDZ2Mm5UNXBrYTlaNThQaG50NW4rOC81dW1YczAyMWJ5NWY4WW5vNzNldEhPOTc1bWR4TmljNisxais5U29xamQvUHlmNlRPdHV4bnhmejloZlkrYnNxMnA3alRHVHpXanE0OWR4VFpNNTg1dWVmOGFxMS9sT3o5YkV6SnBKSmwxZDdkLzU3SzNaU2J6Vzlld3pxYms2N2M3cnM0bWpacHY2M0x6TnI1cEg1OTNwZStkdDhtWjBOT05tcTg2[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&maxResults=100&order=relevance&pageToken=Q3Q4RUNzWUVFcUFDQ0dRU213SUl5QkVRWkJnSElwRUN3WGFUdDFXNzcyZmIrUHk4VDg5a244MUdUZExOUGlmejY4NmpzWjdrNlNiWmIwMDZ2Mm5UNXBrYTlaNThQaG50NW4rOC81dW1YczAyMWJ5NWY4WW5vNzNldEhPOTc1bWR4TmljNisxais5U29xamQvUHlmNlRPdHV4bnhmejloZlkrYnNxMnA3alRHVHpXanE0OWR4VFpNNTg1dWVmOGFxMS9sT3o5YkV6SnBKSmwxZDdkLzU3SzNaU2J6Vzlld3pxYms2N2M3cnM0bWpacHY2M0x6TnI1cEg1OTNwZStkdDhtWjBOT05tcTg2[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&maxResults=100&order=relevance&pageToken=Q3ZvR0N1RUdFcUFDQ0dRU213SUl5QkVRWkJnSElwRUN3WGFUdDFXNzcyZmIrUHk4VDg5a244MUdUZExOUGlmejY4NmpzWjdrNlNiWmIwMDZ2Mm5UNXBrYTlaNThQaG50NW4rOC81dW1YczAyMWJ5NWY4WW5vNzNldEhPOTc1bWR4TmljNisxais5U29xamQvUHlmNlRPdHV4bnhmejloZlkrYnNxMnA3alRHVHpXanE0OWR4VFpNNTg1dWVmOGFxMS9sT3o5YkV6SnBKSmwxZDdkLzU3SzNaU2J6Vzlld3pxYms2N2M3cnM0bWpacHY2M0x6TnI1cEg1OTNwZStkdDhtWjBOT05tcTg2[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UCYE8GO8URXHt3eLkqeo3uSw&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/J9u74z_JP-X4K7if0X9fjk3MMLM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "UCYE8GO8URXHt3eLkqeo3uSw",
           "snippet": {
            "title": "RBC NETWORK BROADCASTING",
            "description": "Donald Trump, Hillary Clinton, Speeches & Rallies, Donald Trump Live, Donald Trump Rally, Donald Trump Live Stream, Donald Trump Full Speech, Live Events, Full Event, Donald Trump 2016 Online, Live Streaming, Make America Great Again, Live Broadcasting 2016, Republican Party, Donald Trump Polls, Republican Candidates 2016, Republican Debate, Democratic Party, Mike Pence, Tim Kaine, Events",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-pLKZHi1yDc0/AAAAAAAAAAI/AAAAAAAAAAA/AXJKodKsQaM/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Wed, 07 Dec 2016 01:50:47 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet(channelId,description,publishedAt,title),statistics(likeCount,dislikeCount,viewCount),contentDetails(duration))&id=XxXx888xXxX&key=<API_KEY>&part=snippet,statistics,%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/ftqcoEi5lFrDLEyLbPZCiTrEzXU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": []
        }
  recorded_at: Wed, 07 Dec 2016 01:51:34 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet(thumbnails(medium),channelId,description,publishedAt,title,categoryId),statistics(likeCount,dislikeCount,viewCount),contentDetails(duration))&id=OyDSCKYz5sA&key=<API_KEY>&part=snippet,statistics,%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20contentDetails
    body:
      encodin[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet(thumbnails(medium),channelId,description,publishedAt,title,categoryId),statistics(likeCount,dislikeCount,viewCount),contentDetails(duration))&id=XxXx888xXxX&key=<API_KEY>&part=snippet,statistics,%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/ftqcoEi5lFrDLEyLbPZCiTrEzXU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": []
        }
  recorded_at: Thu, 15 Dec 2016 05:51:07 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?chart=mostpopular&fields=items(id,snippet(thumbnails(medium),channelId,description,publishedAt,title,categoryId),statistics(likeCount,dislikeCount,viewCount),contentDetails(duration))&key=<API_KEY>&maxResults=25&part=snippet,statistics,%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/vKct1pfxRTncGzoDpWyB81v49ns"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"items\": [\n  {\n   \"id\": \"F-eMt3SrfFU\",\n   \"snippet\":
        {\n    \"publishedAt\": \"2016-12-14T15:00:12.000Z\",\n    \"channelId\":
        \"UCjmJDM5pRKbUlVIzDYYWb6g\",\n    \"title\": \"Dunkirk - Trailer 1 [HD]\",\n
        \   \"description\": \"From filmmaker Christopher Nolan (“Interstellar,” “Inception,”
        “The Dark Knight” Trilogy) comes the epic action thriller DUNKIRK, in theaters
        July 21, 2017.\\n\\nhttps://www.facebook.com/Dunkirkmovie/\\nhttps://twitter.com/dunkirkmovie\\nhttp://instagram.com/dunkirkmovie/\",\n
        \   \"thumbnails\": {\n     \"medium\": {\n      \"url\": \"https://i.ytimg.com/vi/F-eMt3SrfFU/mqdefault.jpg\",\n
        \     \"width\": 320,\n      \"height\": 180\n     }\n    },\n    \"categoryId\":
        \"24\"\n   },\n   \"contentDetails\": {\n    \"duration\": \"PT2M19S\"\n   },\n
        \  \"statistics\": {\n    \"viewCount\": \"821795\",\n    \"likeCount\": \"85431\",\n
        \   \"dislikeCount\": \"1675\"\n   }\n  },\n  {\n   \"id\": \"AFxCO_DyzYM\",\n
        \  \"snippet\": {\n    \"publishedAt\": \"2016-12-14T06:32:59.000Z\",\n    \"channelId\":
        \"UCJ0uqCI0Vqr2Rrt1HseGirg\",\n    \"title\": \"Bruno Mars Carpool Karaoke\",\n
        \   \"description\": \"James Corden and Bruno Mars drive through Los Angeles
        singing his hits, including tracks from the new album \\\"24K Magic,\\\" and
        chat about everything from Elvis to poker. Get Bruno Mars' new album '24K
        Magic' out now: https://brunom.rs/24kMagic\\n\\nStream ’24K Magic’\\nSpotify:
        https://brunom.rs/24kMagicStream\\nApple Music: https://brunom.rs/24kmagicAM\\n\\nDownload
        ’24K Magic’\\niTunes: https://brunom.rs/24kMagic\\nAmazon: https://brunom.rs/24kmagicamazon\\nGoogle
        Play: https://brunom.rs/24kmagicGP\\n\\nConnect with Bruno:\\nhttp://www.brunomars.com\\nhttp://www.instagram.com/brunomars\\nhttp://www.twitter.com/brunomars\\nhttp://www.facebook.com/brunomars\\n\\n\\n\\\"Subscribe
        To \\\"\\\"The Late Late Show\\\"\\\" Channel HERE: http://bit.ly/CordenYouTube\\nWatch
        Full Episodes of \\\"\\\"The Late Late Show\\\"\\\" HERE: http://bit.ly/1ENyPw4\\nLike
        \\\"\\\"The Late Late Show\\\"\\\" on Facebook HERE: http://on.fb.me/19PIHLC\\nFollow
   [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UCjmJDM5pRKbUlVIzDYYWb6g&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/lp72KivpWNiEjZ0NzRj-IVGrzRA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "UCjmJDM5pRKbUlVIzDYYWb6g",
           "snippet": {
            "title": "Warner Bros. Pictures",
            "description": "Welcome to the official channel for Warner Bros. Pictures. Subscribe now for all our latest movie trailers, clips and featurettes!",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-FWmT_QaBmts/AAAAAAAAAAI/AAAAAAAAAAA/3qj7yNGlH_0/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Thu, 15 Dec 2016 08:10:58 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UCJ0uqCI0Vqr2Rrt1HseGirg&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/zs4v8kOJmFj8JVIkUw8VnGTETdI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "UCJ0uqCI0Vqr2Rrt1HseGirg",
           "snippet": {
            "title": "The Late Late Show with James Corden",
            "description": "This is the official YouTube channel for The Late Late Show with James Corden on CBS.",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-NhxJe9XKyV8/AAAAAAAAAAI/AAAAAAAAAAA/XkSb5PFaHP8/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Thu, 15 Dec 2016 08:10:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UCq7OHvWO6Z3u-LztFdrcU-g&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/7tdf7jisL581kmUqo88ED6qf7Es"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "UCq7OHvWO6Z3u-LztFdrcU-g",
           "snippet": {
            "title": "Illumination",
            "description": "Connect with Illumination Entertainment Online:\n\nLike Illumination Entertainment on FACEBOOK:  http://bit.ly/IlluminationEntFB\nVisit the Illumination Entertainment WEBSITE:  http://www.minionsmovie.com",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-wH_8TqefjvY/AAAAAAAAAAI/AAAAAAAAAAA/M6U0icLG-_8/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Thu, 15 Dec 2016 08:10:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UCn-bD1rQMwvyDXAa_yrwagg&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/rZVcW3pM5LnfcmbXKjTwrVPbwfM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "UCn-bD1rQMwvyDXAa_yrwagg",
           "snippet": {
            "title": "Amish Hacker",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-VMQ1yrnKLcM/AAAAAAAAAAI/AAAAAAAAAAA/vATgoZq2CvY/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Thu, 15 Dec 2016 08:10:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UCb0xfM3HGOsqPYNAocXXNAQ&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/hjUOHEkqyaijXdFfEzPNjlkvQ30"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "UCb0xfM3HGOsqPYNAocXXNAQ",
           "snippet": {
            "title": "truTV",
            "description": "truTV offers an innovative and entertaining look at the real world through authentic characters, humorous situations and engaging storytelling.",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-hb-3RuH6y54/AAAAAAAAAAI/AAAAAAAAAAA/bXRGcus8u2M/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Thu, 15 Dec 2016 08:10:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UCkLXELm63_pH7L-r-548kig&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/P8AAWYaXIUlzdUF77h__rpeXhDM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      e[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UC07Kxew-cMIaykMOkzqHtBQ&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/_gu5J8ztpulCkwo4enHFWV76E8k"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "UC07Kxew-cMIaykMOkzqHtBQ",
           "snippet": {
            "title": "LadyGagaVEVO",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-dcILwG2R9Mw/AAAAAAAAAAI/AAAAAAAAAAA/Jn9461K2F_s/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Thu, 15 Dec 2016 08:10:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UCK8sQmJBp8GCxrOtXWBpyEA&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/TWm7TvOT-we30EVv8KokyAlQtDg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "UCK8sQmJBp8GCxrOtXWBpyEA",
           "snippet": {
            "title": "Google",
            "description": "Experience the world of Google on our official YouTube channel. Watch videos about our products,  technology, company happenings and more. Subscribe to get updates from all your favorite Google products and teams.",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-v0soe-ievYE/AAAAAAAAAAI/AAAAAAAAAAA/OixOH_h84Po/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Thu, 15 Dec 2016 08:10:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UCMtFAi84ehTSYSE9XoHefig&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/xrh1Kx8NxmCrPaDfAlbOQNvNTH4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "UCMtFAi84ehTSYSE9XoHefig",
           "snippet": {
            "title": "The Late Show with Stephen Colbert",
            "description": "Welcome to the official YouTube channel for \"The Late Show with Stephen Colbert\"! Weeknights at 11:35pm/10:35c",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-_DMSPt1vZaw/AAAAAAAAAAI/AAAAAAAAAAA/sSVARCDuXwE/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Thu, 15 Dec 2016 08:10:59 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UC0v-tlzsn0QZwJnkiaUSJVQ&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/xI_My1ZNy6UjZdV6iDIdNbNf48U"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      e[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UCLXo7UDZvByw2ixzpQCufnA&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/TbHK3IeoWjUKxtZ81CcNmasDIeg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      e[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UCVTyTA7-g9nopHeHbeuvpRA&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/Q9s7G5uayFhyv_hNLHLJUveo-Fk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "UCVTyTA7-g9nopHeHbeuvpRA",
           "snippet": {
            "title": "Late Night with Seth Meyers",
            "description": "Beloved \"Saturday Night Live\" personality — and the longest serving anchor on the show's wildly popular \"Weekend Update\" — Seth Meyers takes over as host of NBC's \"Late Night,\" home to A-list celebrity guests, memorable comedy and the best in musical talent. \n\nWatch Late Night with Seth Meyers weeknights 12:35/11:35c.",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-TI5ffZo0Qd4/AAAAAAAAAAI/AAAAAAAAAAA/glgeFHJ0Sto/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Thu, 15 Dec 2016 08:11:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UCn1XB-jvmd9fXMzhiA6IR0w&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/Kvb3eGe0l5B-eBsGiava8O8ZJpo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "UCn1XB-jvmd9fXMzhiA6IR0w",
           "snippet": {
            "title": "Domics",
            "description": "NEWS: The NEW Domics website is now live! http://domics.co/\n\n25-year old Youtube Animator from Toronto.\n\nMy Birthday page: http://www.famousbirthdays.com/people/dominic-panganiban.html\n\nI may not be able to take on client or commission work right now. For business inquiries, visit my website http://domics.co/",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-1QFcxAtWhxk/AAAAAAAAAAI/AAAAAAAAAAA/2aBO20Ndci8/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Thu, 15 Dec 2016 08:11:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UCO2Ht1tCxOT5SiySrRRTV2A&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/kTUkm0XszBxXNqs1vR7BsHEm8kQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "UCO2Ht1tCxOT5SiySrRRTV2A",
           "snippet": {
            "title": "Charles Rotter",
            "description": "Owner of Crotters' Best, the finest no sugar added chocolate you can buy.\n\ncrotterbest.com\n\nfacebook.com/crottersbest\n\namazon.com/shops/crottersbest",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-ckK2XXFFEZ8/AAAAAAAAAAI/AAAAAAAAAAA/P07aW5LKjXs/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Thu, 15 Dec 2016 08:11:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UCgnxoUwDmmyzeigmmcf0hZA&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/KwVkmGiaAG7QfvdIPWlmZoe-WQM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "UCgnxoUwDmmyzeigmmcf0hZA",
           "snippet": {
            "title": "Uber",
            "description": "The official YouTube channel for Uber. We're changing the way the world moves — one city at a time.",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-40Y5g5gjLfw/AAAAAAAAAAI/AAAAAAAAAAA/2abS8t4cZw8/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Thu, 15 Dec 2016 08:11:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UClOf1XXinvZsy4wKPAkro2A&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/GzPKyDFqE_Gm7FelS3LPJMqpXPM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "UClOf1XXinvZsy4wKPAkro2A",
           "snippet": {
            "title": "PlayOverwatch",
            "description": "Overwatch™ is a highly stylized team-based shooter set in a future worth fighting for. Every match is an intense multiplayer showdown pitting a diverse cast of soldiers, scientists, adventurers, and oddities against each other in an epic, globe-spanning conflict. \n\nESRB rating TEEN for Blood, Violence, and Use of Tobacco. Visit esrb.org for rating information.",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-M2-DH_DN-Qs/AAAAAAAAAAI/AAAAAAAAAAA/kczw_wtvMOI/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Thu, 15 Dec 2016 08:11:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UCbaGn5VkOVlcRgIWAHcrJKA&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"gMxXHe-zinKdE9lTnzKu8vjcmDI/p7dVV3w6uqpBOVSBJBv3Ohktsgw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "UCbaGn5VkOVlcRgIWAHcrJKA",
           "snippet": {
            "title": "WatchCut Video",
            "description": "Cut is for everyone.\n\nFollow us on:\nFacebook.com/watchcut\nTwitter.com/watchcut\nSnap chat: @watchcut\nInstagram: @storiesbycut @100YOB\n\nSend us stuff!\nPO Box 19604\nSeattle, WA 98109",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-SFgNlQ0Jt40/AAAAAAAAAAI/AAAAAAAAAAA/H-Fz7fGb3H8/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            }
           }
          }
         ]
        }
  recorded_at: Thu, 15 Dec 2016 08:11:01 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items(id,snippet(title,description,thumbnails(default(url))))&id=UC06E4Y_-ybJgBUMtXx8uNNw&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
[...]
